{% extends "base.html" %}

{% block custom-title %}Coffee Castle | Home{% endblock %}

{% block pre-content %}

<div id="slider">

			<!-- BEGIN .slider -->
			<div class="slider">
				<ul class="slides">

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/IMG-20150624-WA0007.jpg" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">100% Responsive &amp; Mobile Ready</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">Room Availability Checker and Booking</p>
							</div>
						</div> -->
					</li>

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/IMG-20150624-WA0002.jpg" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">5 Fantastic Home Pages to Choose From</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">Customer Testimonials &amp; Event Management</p>
							</div>
						</div> -->
					</li>

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/IMG-20150624-WA0001.jpg" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">Fully Customizable Colour Scheme</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">4 Pre Configured Colour Schemes Available</p>
							</div>
						</div> -->
					</li>

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/IMG_0994.JPG" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">Fully Customizable Colour Scheme</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">4 Pre Configured Colour Schemes Available</p>
							</div>
						</div> -->
					</li>

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/890cecba79134d644fdaf8e6f02e2a14.jpg" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">Fully Customizable Colour Scheme</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">4 Pre Configured Colour Schemes Available</p>
							</div>
						</div> -->
					</li>

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/6f133c40232a8a4f347ff0008db9e53f.jpg" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">Fully Customizable Colour Scheme</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">4 Pre Configured Colour Schemes Available</p>
							</div>
						</div> -->
					</li>

					<li>
						<img src="https://s3-ap-southeast-1.amazonaws.com/coorgcastle/kaveri_river.jpg" alt="" />
						<!-- <div class="slider-caption-wrapper">
							<div class="slider-caption">
								<p class="colour-caption medium-caption">Fully Customizable Colour Scheme</p>
								<div class="clearboth"></div>
								<p class="dark-caption large-caption">4 Pre Configured Colour Schemes Available</p>
							</div>
						</div> -->
					</li>
				</ul>
			<!-- END .slider -->
			</div>

			<!-- BEGIN .home-reservation-box -->
<!-- 			<div class="home-reservation-box clearfix">

				<form class="booking-form" name="bookroom" action="booking1.html" method="post">

					<input type="text" id="datefrom" name="book_date_from" value="Check In" class="datepicker">
					<input type="text" id="dateto" name="book_date_to" value="Check Out" class="datepicker">

					<div class="select-wrapper">
						<select id="adults" name="book_room_adults">
							<option value="none">Adults</option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>

					<div class="select-wrapper">
						<select id="children" name="book_room_children">
							<option value="none">Children</option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>

					<input class="bookbutton" type="submit" value="Check Availability" />

				</form>

			</div> -->
			<!-- END .home-reservation-box -->
		</div>

{% endblock %}

{% block content %}



			<!-- BEGIN .clearfix -->
			<div class="clearfix">

				<!-- BEGIN .one-third -->
				<div class="two-third clearfix">
					<h3 class="title-style1"><strong>5 reasons why you should visit Coffee Castle</strong><span class="title-block"></span></h3>
					<dl>
						<dt>
							<strong>Serene </strong>
						</dt>
						<dd>
							<p>Ours is a fantastic piece of property spread over 7.5 acres of lush green estate. A place cut off from the urban reaches and an ideal place to be one with nature.</p>
						</dd>
						<dt>
							<strong>Culture </strong>
						</dt>
						<dd>
							<p>You  travel back in time to a simpler era with indigenous people and traditional rural life.</p>
						</dd>
						<dt>
							<strong>Romantic </strong>
						</dt>
						<dd>
							<p>Our secluded property near the lake rekindles a lost moment integral to the blossoming of a relationship. Here lovers are blessed with a powerful union of consciousness and nature.</p>
						</dd>
						<dt>
							<strong>Our lady of the Lake </strong>
						</dt>
						<dd>
							<p>The lake is very well designed to make it feel as if it is cascading into the forest. Its mesmerizing waters will haunt you forever.</p>
						</dd>
						<dt>
							<strong>Coffee </strong>
						</dt>
						<dd>
							<p>One does not talk about Coorg without talking about its coffee. We offer tours around the coffee estate with guides to walk you through the plantation and help you discover its secrets. But the tour is only complete after enjoying  frothing saffron flavoured south Indian filter coffee.</p>
						</dd>
					</dl>

				<!-- END .one-third -->
				</div>

				<!-- BEGIN .one-third -->
				<div class="one-third clearfix">
					<h3 class="title-style1">Hotel Overview<span class="title-block"></span></h3>
					<ul class="list-style1">
						<li>07 luxury cottages</li>
						<li>Kaveri River Side Walk</li>
						<li>River Rafting</li>
						<li>Coffee Plantation Walk</li>
						<li>Leisure Lake</li>
						<li>24 hour front desk staff</li>
					</ul>
					<p><a href="{% url 'activities' %}" class="button1">Read More</a></p>
				<!-- END .one-third -->
				</div>

				<!-- BEGIN .one-third -->


			<!-- END .clearfix -->
			</div>

			<hr class="space1" />

			<!-- <h3 class="title-style1">Testimonials<span class="title-block"></span></h3> -->

			<!-- <div class="text-slider-wrapper"> -->

				<!-- BEGIN .slider -->
				<!-- <div class="text-slider"> -->
					<!-- <ul class="slides"> -->

						<!-- {% for testimonial in testimonials %} -->
							<!-- <li> -->
								<!-- BEGIN .clearfix -->
								<!-- <div class="clearfix"> -->
									<!-- BEGIN .one-half -->
									<!-- <div class=""> -->
										<!-- <div class="testimonial-wrapper clearfix">
											<p class="testimonial-text">"{{ testimonial.message }}"</p>
											<div class="testimonial-speech"></div>
										</div>
										<p class="testimonial-author"><span>{{ testimonial.name }} -</span> {{ testimonial.room_type }}</p> -->

									<!-- END .one-half -->
<!-- 									</div>
								</div>
							</li>

						{% endfor %}
					</ul>
 -->
				<!-- END .text-slider -->
				<!-- </div> -->

			<!-- END .text-slider -->
			<!-- </div> -->
	<script type="text/javascript" src="/site_media/js/jquery-1.9.1.js"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			$('ul#navigation li').removeClass('current-menu-item current_page_item');
			$('ul#navigation li#index').addClass('current-menu-item current_page_item');
		});
	</script>

{% endblock %}